.header {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px 120px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.logo {
  position: absolute;
  left: 100px;
  width: auto;
  height: 60px;
  margin-right: 20px;
}

.logoUnam,
.logoFes {
  width: auto;
  height: 100%;
}

.icon {
  margin-top: 70px;
  width: 90px;
  height: auto;
  color: #ffffff;
  font-weight: 100;
}

.title {
  font-size: 2.4rem;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  margin: 15px auto 10px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
}

.subtitle {
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 5px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
  color: #ffffff;
}

.linkButton {
    margin: 25px;
    padding: 15px;
    width: 200px;
    font-size: 1em;
    letter-spacing: 2px;
    background-color: var(--color-primary);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    transition-duration: .1s;
}
.linkButton:hover {
    background-color: #3c8dbc;
    color: #ffffff;
    cursor: pointer;
    transition-duration: 0.3s;
}