.header {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px 150px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.logo {
  position: absolute;
  left: 100px;
  width: auto;
  height: 60px;
  margin-right: 20px;
}

.logoUnam,
.logoFes {
  width: auto;
  height: 100%;
}
.title {
  font-size: 2.4rem;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  margin: 100px auto 10px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
}

.subtitle {
  font-weight: 500;
  letter-spacing: 5px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
}