.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px 80px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.logo {
  position: absolute;
  left: 100px;
  width: auto;
  height: 60px;
  margin-right: 20px;
}

.logoUnam,
.logoFes {
  width: auto;
  height: 100%;
}
