.navButton {
  background-color: unset;
  color: #ffffffb6;
  text-shadow: 3px 3px 5px #0000009c;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 0px;
  font-size: 16px;
  width: 100%;
  transition: all 0.1s ease;
}

.navButton:hover {
  color: #fff;
  text-shadow: 4px 4px 4px #0000009c;
  transition: all .3s ease;
  cursor: pointer;
}

.navButtonActive {
  color: var(--color-secondary);
  text-shadow: 4px 4px 4px #000000ad;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 0px;
  font-size: 16px;
  width: 100%;
  transition: all 0.1s ease;
}

.navButtonActive:hover {
  color: #ffc234;
  text-shadow: 4px 4px 4px #000000ad;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 0px;
  font-size: 16px;
  width: 100%;
  transition: all .3s ease;
}

.navButtonLogin {
  background-color: #f86942;
  color: #ffffffb6;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  transition: all 0.1s ease;
}

.navButtonLogin:hover {
  color: #fff;
  text-shadow: 2px 2px 5px #0000009c;
  transition: all .3s ease;
  cursor: pointer;
}

.navUserButton {
  display: flex;
  background: none;
  border: none;
  border-radius: 10px; 
}

.navUserIcon {
  color: #ffffffb6;
  font-size: 25px;
  box-shadow: #0000009c 3px 3px 5px;
  border-radius: 50%; 
  transition: all 0.1s ease;
}

.navUserIcon:hover {
  cursor: pointer;
  box-shadow: #0000009c 4px 4px 4px;
  color: #fff;
  transition: all .3s ease;
}

nav {
  display: flex;
  justify-content: right;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  width: auto;
}

li {
  list-style-type: none;
  width: auto;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.logo {
  position: absolute;
  left: 100px;
  width: auto;
  height: 60px;
  margin-right: 20px;
}

.logoUnam,
.logoFes {
  width: auto;
  height: 100%;
}
